{% extends "base.html" %}
{% block content %}

		
	<!-- Calls CSS -->
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/css/custom.css" rel="stylesheet">
	
	 <div class="container marketing">
	 <!-- Start New Piece -->
		<hr class="featurette-divider">

      <div class="row featurette top">
        <div class="col-md-7">
          <h2 class="featurette-heading">How Educating Young Girls is Improving the Economy Across the World <span class="text-muted">By Lindsay Torrico</span></h2>
          <p class="lead">
		  The economic crises around the world are almost overwhelming. But one of the best investments we can make is in girls – in helping them get educated, 
		  healthy and empowered to contribute to their communities. Every year of schooling increases a girl’s individual earning power by 10 to 20 percent, while 
		  the return on secondary education is even higher, in the 15 to 25 percent range. Every year of schooling increases a girl’s individual earning power by 10 
		  to 20 percent, while the return on secondary education is even higher, in the 15 to 25 percent range. The research is clear. Educating and empowering girls 
		  can potentially improve the economic and social conditions of millions of people worldwide. <a href="http://www.unitedway.org/blog/entry/how-educating-young-girls-is-improving-the-economy-across-the-world">Read More</a> 
		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" img src="http://www.unitedway.org/assets/uw-main/images/blog/IntlDayofGirl440px.jpg" alt="Generic placeholder image" style="width:500px;height:300px;margin-top:20%;">
        </div>
      </div>
	  
	  <!-- End News Piece -->
	  
	  
	<!-- Start New Piece -->
      <hr class="featurette-divider">

      <div class="row featurette middle">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" img-responsive" img src="http://www.unitedway.org/assets/uw-main/images/blog/Mumbai_Women2440px.png" alt="Generic placeholder image" style="width:500px;height:300px;margin-top:20%;">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Mumbai Millennials Move Mountains <span class="text-muted">By Jesse Marcus</span></h2>
          <p class="lead">Mumbai is a city of nearly 20 million people. As the center of India’s financial and entertainment industries, 
		  as well as the location for some of Asia’s largest slums, it is a city divided between haves and have-nots. It is also the home 
		  of Sumaiya Selot, a passionate student who, along with more than 9,000 other college youth, public health personnel and community 
		  members, has taken on one of India’s greatest challenges: the epidemic of Hepatitis B. With the support of United Way Mumbai and partners, 
		  over 1.2 million people have been educated with information about Hepatitis infections, over 10,000 people have been tested, and nearly 9,000 
		  people have been vaccinated. <a href="http://www.unitedway.org/blog/entry/mumbai-millennials-move-mountains">Read More</a>
		  </p>
        </div>
      </div>
	  
	   <!-- End News Piece -->
	
		<!-- Start New Piece -->
      <hr class="featurette-divider">

      <div class="row featurette bottom">
        <div class="col-md-7">
          <h2 class="featurette-heading">Exploring the Volunteer Landscape in Taiwan <span class="text-muted">By Mei Cobb</span></h2>
          <p class="lead">
		  Fresh back to the U.S. from a fantastic speaking and learning opportunity in Australia, I eagerly prepared for my next experience, 
		  this time in Taiwan. I traveled there at the invitation of Dr. Shin-shin Chen, from the Department of Social Work at Chaoyang University of 
		  Technology in Taichung City, Taiwan to present a series of lectures and workshops on United Way and Volunteer Engagement practices. I have known 
		  Dr. Chen for many years. In 2009 she assisted in the creation of the Volunteer Center Development Guide, based on input from colleagues around the 
		  world for United Nations Volunteers. It was wonderful to see her again, meet her colleagues and students, and learn about the incredible work at the 
		  University and beyond in developing and deepening volunteer engagement and management practices. <a href = "http://www.unitedway.org/blog/entry/exploring-the-volunteer-landscape-in-taiwan">Read More</a>
		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" img-responsive" img src="http://www.unitedway.org/assets/uw-main/images/blog/TaiwanBlog440px.png" alt="Generic placeholder image" style="width:500px;height:300px;margin-top:20%;">
        </div>
      </div>
	  <!-- End News Piece -->

      <hr class="featurette-divider">

	 </div>
{% endblock %}